# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
my_number=47

##### Assinging float

In [2]:
my_float = 0.999

#### Performing Calculations on ints and floats

##### Addition

In [3]:
my_number + my_float

47.999

##### Subtraction

In [5]:
my_number - my_float

46.001

##### Multiplication

In [6]:
my_number * my_float

46.953

##### Division

In [7]:
my_number / my_float

47.047047047047045

##### Floor Division

In [9]:
result_floor = (my_number*9)//my_float
print(result_floor)

423.0

##### Modulo

In [10]:
result_mod = my_number % 40
print(result_mod)

7

##### Exponential

In [13]:
result_exp=my_number ** (3/2)
print(result_exp)

322.21576621884907

### String Input-Output

##### String Assignment

In [2]:
name = "kelli"
print(name)

kelli

##### print() <br>
<p>Don't forget about end=' '</p>

In [3]:
print("full name: ", name, end=" jones")

full name:  kelli jones

##### String Concatenation

In [17]:
first = "Kelli"
last ="Spidey"
full_name = first + ' ' +last
print(full_name)

Kelli Spidey

##### Type Conversion

In [19]:
number = "13"
change_type = int(number)
print(change_type + 5)

18

##### input()

In [20]:
## input will always return a string (even if it is numbers, it returns the values AS A STRING)
## python actually gives you the input prompt even if it is going to crash later in the code
name = input("What do they call you? ")
print(name)

What do they call you?  Kelli

Kelli

##### format()

In [22]:
age = input("what is your age??? ")
name = input("what is your name??")

result_string = "you are {}, you are {} years old. Congrats!".format(name, age);
print(result_string)

what is your age???  55
what is your name?? Kay

you are Kay, you are 55 years old. Congrats!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [24]:
color = input("what color is your vehicle?")
year = input("what year is your vehicle?")
make = input("what is the make of your vehicle?")
model = input("what is the model of your vehicle?")
result_str= "you drive a {}, {}, {} {}".format(color, year, make, model)
print(result_str)

what color is your vehicle? yellow
what year is your vehicle? 1999
what is the make of your vehicle? honda
what is the model of your vehicle? spidey

you drive a yellow, 1999, honda, spidey

### If Statements

In [27]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 10
num2 = 10
if num1==num2:
    print("they are the same")
else:
    print( "they are not the same")

they are the same

##### 'is' keyword

In [31]:
num3 =87
num4 = 87

if num3 is num4:
    print("these objects are of the same or similar types")

these objects are of the same or similar types

##### 'in' keyword

In [34]:
char_name = "Cory"
if "C" in char_name:
    print("the letter C appears in this name")

the letter C appears in this name

##### 'not in' keyword'

In [35]:
if "P" not in char_name:
    print("the letter P does not appear in this name")

the letter P does not appear in this name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [41]:
char_name= input("what would you like to name your character?")

if "P" in char_name.lower():
    print ("The letter P does appear in this name")
else:
    print ("The letter P does not appear in this name")

what would you like to name your character? bob

The letter P does not appear in this name

## Using 'and'/'or' with If Statements

In [54]:
first_name = "Lelli"
age = 7

if first_name == "Lelli" and age > 18:
    print("that is the adult name I was looking for")
elif first_name != "Lelli" and age<18 :
    print("that is the name I was looking for, but I am looking for an adult")
else:
    print("I am looking for an adult named Lelli, your age or name is not correct")

I am looking for an adult named Lelli, your age or name is not correct

### Elif Statements

In [ ]:
#see above

### Else Statements

In [ ]:
# see above

### For Loops

In [58]:
# for item in terable_thing:
 ## do that thing for each item
name = "Corlaine Jones"

for letter in name :
    print(name)

Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones
Corlaine Jones

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [62]:
for i in range (20):
    if i % 2 == 0:
        print(i)
    else: 
        continue

0
2
4
6
8
10
12
14
16
18

##### Break Statement

In [ ]:
# will break out of current loop

In [63]:
for i in range (20):
    if i % 2 == 0:
        print(i)
    else: 
        break

0

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
def myfunction():
    pass

##### Double For Loops

In [67]:
for i in range(20):
    print("this is iternation number ", i)
    for j in range (3):
        print(i*j)

this is iternation number  0
0
0
0
this is iternation number  1
0
1
2
this is iternation number  2
0
2
4
this is iternation number  3
0
3
6
this is iternation number  4
0
4
8
this is iternation number  5
0
5
10
this is iternation number  6
0
6
12
this is iternation number  7
0
7
14
this is iternation number  8
0
8
16
this is iternation number  9
0
9
18
this is iternation number  10
0
10
20
this is iternation number  11
0
11
22
this is iternation number  12
0
12
24
this is iternation number  13
0
13
26
this is iternation number  14
0
14
28
this is iternation number  15
0
15
30
this is iternation number  16
0
16
32
this is iternation number  17
0
17
34
this is iternation number  18
0
18
36
this is iternation number  19
0
19
38

### While Loops

In [8]:
# runs while statment true, breaks when condition false. If it is always true it will go forever!!!!
num = 35

while num > 30:
    num-=1
    print(num)

34
33
32
31
30

##### Looping 'While True'

In [12]:
# these are mostly used with booleans which is why i got so confused counting
game_over = True
while game_over:
    print ("You lost")
    game_over= False

You lost

##### While & For Loops Used Together

In [4]:
sold = True
sales_num = 6

while sold == True:
    print("this one was sold")
    for i in range(sales_num):
        print("this was the sales number" , i)
    sold=False

this one was sold
this was the sales number 0
this was the sales number 1
this was the sales number 2
this was the sales number 3
this was the sales number 4
this was the sales number 5

### Built-In Functions

##### range()

In [5]:
for i in range (2,100,7):
    print(i)

2
9
16
23
30
37
44
51
58
65
72
79
86
93

##### len()

In [6]:
name = "coraline"
length= len(name)
print (length)

8

##### help()

In [7]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [10]:
print( isinstance(True, bool))

True

##### abs()

In [11]:
print(abs(-24))

24

### Try and Except

In [17]:
##use to anticipate and fix some errors in advance or avoid them. 
##You can clarify to ignore the wrong data type or include protection like case converting
try: 
    number_test=47
    input_num=int(input("guess a number"))
    if input_num == number_test:
        print ("You win!!")
    else:
        print("you lost :(")
except: print("looks like you entered the wrong data type, we want an integer")

guess a number six

looks like you entered the wrong data type, we want an integer

### Lists

##### Declaring Lists

In [20]:
my_list = []
name_list =["kim", "tim", "Biggie"]
print(name_list[0])

kim

##### Indexing a List

In [22]:
## list_name[start, stop, step]
print(name_list[-1])

Biggie

##### .append()

In [33]:
name_list.append("Carol")
print(name_list)

['kim', 'Gabby', 'Gabby', 'Carol']

##### .insert()

In [29]:
name_list.insert(3, "Gabby")
print(name_list)

['kim', 'tim', 'Gabby', 'Gabby', 'Carol']

##### .pop()

In [30]:
my_name= name_list.pop(4)
print(my_name)

Carol


##### .remove()

In [ ]:
name_list.remove(Carol)

##### del()

In [31]:
del(name_list[1])
print(name_list)

['kim', 'Gabby', 'Gabby']

##### Concatenating Two Lists

In [34]:
second_names= ["Jim", "Dwight", "Andy"]
big_name_list = name_list + second_names
print(big_name_list)

['kim', 'Gabby', 'Gabby', 'Carol', 'Jim', 'Dwight', 'Andy']

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
n=1

while True:
    cube = n **3
    if cube >= 1000:
        break
    print(cube)
    n += 1

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [12]:
## set default is prime to true, then for each number try num % (each smaller number) up to the square root of num
## so we loop over all the numbers, the do a smaller loop to try division factors, and then print at the very end only if we made it through 
##both for loops
##if something breaks out of then we change is prime to false and can move on to the next num
for num in range(2, 101):  
    is_prime = True 
    for i in range(2, int(num ** 0.5) + 1):  
        if num % i == 0:
            is_prime = False  
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
user_age = int(input("what is your age?"))


if user_age < 18:
    print("kids")
elif user_age > 18 and user_age <65:
    print("adults")
else:
    print("seniors")

what is your age? 99

seniors